@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  position: static;
  top: 0px !important;
}

iframe.skiptranslate {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

#goog-gt-original-text {
  display: none !important;
}

.VIpgJd-yAWNEb-hvhgNd {
  display: none !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}


/*  */
.rdt {
  position: relative;
}

.rdtPicker {
  display: none;
  position: absolute;
  min-width: 320px;
  min-height: 320px;
  padding: 10px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #1d2938;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid #0b0a0a;
  border-radius: 10px;
  /* padding: 4px; */
}

.rdtOpen .rdtPicker {
  display: block;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  height: 100%;
  margin: 0;
}

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}

.rdtPicker td {
  cursor: pointer;
}
 .rdtDay{
  padding: 6px 0px;

 }
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #0a0404;
  cursor: pointer;
}

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #f4efef;
}

.rdtPicker td.rdtToday {
  position: relative;
}

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #1a1717;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}



.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}

.rdtPicker th.rdtSwitch {
  width: 100px;
  font-size: 22px;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 30px;
  vertical-align: top;
  padding: 2px;
  /* border: 0.5px solid white; */
  /* border-radius: 50%; */
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker thead tr:first-of-type th {
  cursor: pointer;
}

.rdtPicker thead tr:first-of-type th:hover {
  background: #eeeeee;
}



.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}

.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters>div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 60px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtCounter .rdtBtn:hover {
  background: #eee;
}

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}

.form-control {
  display: none;
}

.to-pink-500 {
  background-image: linear-gradient(to right, #6366f1, #a855f7, #ec4899);
}

.progresvehicalbar-top {
  margin-top: 0.2rem;
}

.imageofvichlesection {
  height: 200px;
  width: 350px;
}

.viewmodalbutton {
  display: none;
}

.paycard {
  padding-top: 1rem;
  padding-right: 2.05rem;
  width: 70%;
  padding-bottom: 2rem;
}

.booking-vehicle {
  height: 200px;
  width: 200px;
}
.detailtour-image{
  height: 250px;
}
@media (min-width: 1030px) {
  .detailtour-image{
    height: 210px;
  }
  .viewmodalbutton {
    display: none;
  }

  .progresvehicalbar-top {
    margin-top: 1rem;
    height: 18px;
  }

  .progresvehicalbar-inner {
    height: 18px;
  }

  .imageofvichlesection {
    height: 200px;
    width: 300px;
  }
}

@media ((max-width:1000px) and (min-width: 770px)) {
  .detailtour-image{
    height: 180px;
  }
  .paycard {
    padding-right: 0px;
    width: 100%;
  }

  .viewmodalbutton {
    display: block;
  }

  .progresvehicalbar-top {
    margin-top: 1rem;
    height: 16px;
  }

  .progresvehicalbar-inner {
    height: 16px;
  }

  .imageofvichlesection {
    height: 180px;
    width: 200px;
  }
}

@media ((max-width:770px) and (min-width: 330px)) {
  .detailtour-image{
    height: 100px;
  }
  .paycard {
    padding-right: 0%;
    width: 100%;
    border: none !important;
  }

  .viewmodalbutton {
    display: block;
  }

  .progresvehicalbar-top {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    /* margin-left: 2.5rem;
    margin-right: 2.5rem; */
    height: 0.75rem;
  }

  .progresvehicalbar-inner {
    height: 0.75rem;
  }
}

.custom-bottom-nav-styles {
  position: fixed;
  bottom: 0%;
  left: 0%
}

.btn-fixed {
  color: #a855f7;

}

.react-time-picker {
  width: 60px;
  padding: 6px;
  border-radius: 50px;
}

.react-time-picker svg {
  fill: white;
}

.locaion {
  display: flex;
  flex-direction: row;

}

.image-paypage {
  width: 200px;
  height: 200px;
}

.passengers {
  color: white;
}

.pay-main {
  /* Padding */
  padding-top: 1.1rem;
  /* Adjust as needed */
  padding-bottom: 2.4rem;
  /* Adjust as needed */

  /* Flexbox */
  display: flex;
  /* Or flex-inline for inline elements */
  flex-direction: column-reverse;
  /* Change to row for horizontal layout */

  /* Positioning */
  position: relative;
  /* Remove if not needed */
}

/* Optional: Responsive Adjustments (if needed) */
@media (min-width: 1024px) {

  /* Adjust breakpoint as needed */
  .pay-main {
    flex-direction: row;
    /* Change layout on larger screens */
    padding-bottom: 3.2rem;
    /* Adjust padding on larger screens (optional) */
  }
}

.modalofcheckup {
  height: 250px;
  width: 250px;
}

.content-container {
  width: 100%;
}

@media (min-width: 1024px) {

  /* lg:w-3/5 on large screens */
  .content-container {
    width: 60%;
    /* 3/5 */
    padding-right: 2.5rem;
    /* lg:pr-10 */
    margin-bottom: 2rem;
    /* space-y-8 */
  }
}

@media (min-width: 1280px) {

  /* xl:w-2/3 on extra-large screens */
  .content-container {
    width: 66.67%;
    /* 2/3 */
    margin-bottom: 2.5rem;
    /* lg:space-y-10 */
  }
}

listingSection__wrap:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgba(var(--c-neutral-700), var(--tw-border-opacity));
}

.listingSection__wrap {
  margin-top: 2rem;
  padding: 2rem;
  border: solid beige;
  border-left-width: 1px;
  border-radius: 1rem;
  border-right-width: 1px;
  border-top-width: 1px;
}

@media (min-width: 1280px) {
  .listingSection__wrap {
    border-left-width: 1px;
    border-radius: 1rem;
    border-right-width: 1px;
    border-top-width: 1px;
  }
}

@media (min-width: 640px) {
  .listingSection__wrap {
    border-left-width: 1px;
    border-radius: 1rem;
    border-right-width: 1px;
    border-top-width: 1px;
    padding: 1rem;
  }
}

.scrollbar{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
.model-content{
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 80rem; /* Equivalent to max-w-5xl in Tailwind (5xl = 80rem) */
  padding-top: 8rem; /* Equivalent to py-8 in Tailwind */
  height: 100vh; /* Equivalent to h-screen in Tailwind */
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.close-button {
  position: absolute;
  top: 0; /* Positioned at the top of its closest positioned ancestor */
  z-index: 50; /* Default z-index for stacking order */
}

/* Media query for medium (md) screen size */
@media (min-width: 768px) {
  /* Style for the button within the media query */
  .close-button {
      top: 1.5rem; /* Adjusted top position for medium screens */
  }
}



.container-a{
  /* Center the container horizontally */
  margin-left: auto;
  margin-right: auto;

  /* Set padding and maximum width */
  padding-left: 20px;
  padding-right: 20px;
   /* Adjust max-width as needed */

  /* Flex properties for positioning */
  display: flex;
  justify-content: space-between; /* Spread items apart horizontally */

  /* Adjust vertical alignment on extra large screens */
  position: relative;/* Start at the bottom */
  transform: translateY(-50%); /* Move up by half of its own height */

  /* Responsive adjustments */
 
}

@media (min-width: 1280px) {
  .container-a{

  transform: translateY(-50%);
}}



/* styles.css */
.customer-form {
  position: relative;
  min-height: 100vh; /* 100vh sets the minimum height to the height of the screen */
  margin-bottom: 10px; /* mb-4 equivalent */
}

.customer-form > * {
  margin-bottom: 2.5rem; /* space-y-10 equivalent */
}

/* Media query for medium screens and up */
@media (min-width: 768px) {
  .customer-form > * {
    margin-bottom: 6rem; /* md:space-y-24 equivalent */
  }
}

/* Media query for large screens and up */
@media (min-width: 1024px) {
  .customer-form > * {
    margin-bottom: 8rem; /* lg:space-y-32 equivalent */
  }
}

/* styles.css */
.inner-customer-form {
  position: relative; /* Sets the position to relative */
  z-index: 10; /* Sets the z-index to 10 */
  margin-bottom: 0; /* Sets the bottom margin to 0 */
  margin-top: 5rem; /* Sets the top margin to 20rem */
  width: 100%; /* Sets the width to 100% */
}

/* Media query for medium screens and up */
@media (min-width: 768px) {
  .inner-customer-form {
    margin-bottom: 3rem; /* md:mb-12 equivalent */
  }
}

/* Media query for large screens and up */
@media (min-width: 1024px) {
  .inner-customer-form {
    margin-bottom: 0; /* lg:mb-0 equivalent */
  }
}



/* Define breakpoints */
@media (min-width: 768px) {
  .location {
    flex-direction: row; /* Change to column direction */
    gap: 0; /* Remove horizontal spacing */
    row-gap: 0.5rem; /* Vertical spacing between items */
  }
}

.location {
  display: flex;
  flex-direction: row; /* Default to row direction */
  align-items: flex-start; /* Align items to the start */
  gap: 0.5rem; /* Horizontal spacing between items */
  row-gap: 0; /* No vertical spacing between items */
}


/* Define breakpoints */
@media (min-width: 1280px) {
  .time-input {
    flex-direction: row; /* Change to row direction */
    gap: 1rem; /* Horizontal spacing between items */
    /* row-gap: 0; Remove vertical spacing */
  }
}

@media (min-width: 768px) {
  .time-input {
    flex-direction: column;
    row-gap: 1.5rem; /* Vertical spacing between items */
  }
}

.time-input {
  display: flex;
  flex-direction: row; /* Default to column direction */
  justify-content: space-between; /* Distribute space between items */
  align-items: flex-end; /* Align items to the end */
  /* row-gap: 2.5rem; Vertical spacing between items */
}

.react-time-picker__wrapper {
  display: flex;
  flex-grow: 1;
  padding: 10px 0px;
  border: thin solid gray;
  width: 270px;
  border-radius: 10px;
}